:root {
  --bg-color: #FFFFFF;
  --primary-color: #988bd0;
  --secondary-color: #C3D08B;
  --primary-text-color: #40327B;
  --secondary-text-color: #3F461D;
}

body {
  background-color: var(--bg-color);
  color: var(--primary-text-color);
  font-family: 'Lato', sans-serif;
}

h1,
.btn-primary {
  color: var(--primary-color);
}

.btn-primary {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
  color: #ffffff;
}

h2,
.btn-secondary {
  color: var(--secondary-color);
}

a,
.text-primary {
  color: var(--primary-color) !important;
  ;
}

h5,
.card-title {
  color: var(--primary-color);
}

h6,
.card-subtitle {
  color: var(--secondary-color);
}

p,
.card-text {
  color: var(--primary-text-color);
}

.hero-bg-about {
  background-size: cover;
  /* Cover the entire viewport */
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Don't repeat the image */
  height: 25vh;
  /* Set a height, e.g., 80% of the viewport height */
  color: #fff;
  /* Set text color to white for better visibility */
  align-items: center;
}

.custom-card {
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
}

.custom-card:hover {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
}

.person-card {
  border: none;
  text-align: left;
  align-items: center;
}

.person-img {
  max-height: 150px;
  max-width: 150px;
}

.object-cover {
  object-fit: cover;
}


@media (min-width: 992px) {
  .container {
    max-width: 1000px;
    /* Replace with your desired maximum width */
  }
}

@media (max-width: 992px) {

  /* adjust this value to match the Bootstrap breakpoint you're using */
  .navbar-collapse {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 75%;
    /* adjust this value to set the width of the overlay */
    max-width: 300px;
    /* adjust this value to set a max width for the overlay */
    padding: 1rem;
    background-color: white;
    overflow: auto;
    z-index: 1000;
    /* add this line */
    transition: all 0.2s linear;
  }

  .navbar-collapse.collapsing {
    visibility: hidden;
    right: -100%;
  }

  .navbar-collapse.show {
    right: 0px;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 1.25rem;
  }

  .nav-link {
    font-size: 2.5rem;
  }
}